<StructureMap>
  <PluginFamily Type="GhostsAreRealButTheirIntelligenceIsArtificial.Core.Interfaces.IFlatFileReadingMeans" Assembly="GhostsAreRealButTheirIntelligenceIsArtificial.Core" DefaultKey="Default">
    <Plugin Assembly="GhostsAreRealButTheirIntelligenceIsArtificial.Means" Type="GhostsAreRealButTheirIntelligenceIsArtificial.Means.FlatFileReadingMeans" ConcreteKey="Default" />
  </PluginFamily>  
  <PluginFamily Type="GhostsAreRealButTheirIntelligenceIsArtificial.Core.Interfaces.IJsonTranslationsMeans" Assembly="GhostsAreRealButTheirIntelligenceIsArtificial.Core" DefaultKey="Default">
    <Plugin Assembly="GhostsAreRealButTheirIntelligenceIsArtificial.Means" Type="GhostsAreRealButTheirIntelligenceIsArtificial.Means.JsonTranslationsMeans" ConcreteKey="Default" />
  </PluginFamily>
</StructureMap>