<div id="logo"></div>
<div id="sidebar">
    <div id="footerpusher">
        @ViewBag.Version
        <form action="" method="POST">
            <div>...</div>
            <input type="submit" value="More" />
        </form>
    </div>
    <form action="/Home/Menu/" method="POST">
        <div>Care to leave here to do something else?</div>
        <input type="submit" value="Exit" />
    </form>
</div>